/* -------------------------------------------- */
/* ------------- NAV BAR ---------------------- */
/* -------------------------------------------- */
    
    *{
        /* Pour que les tailles soient correctes */
        box-sizing: border-box;
    }
    
    body {
        /* Pour coller le menu au bord, sans espace */
        margin: 0;
    }
    
    .menu {
        /* Pour que le menu reste en place quand on scroll */
        position: fixed;
        /* Pour que le menu ne soit pas sur le texte et que ce dernier puisse être sélectionné */
        width: 0px;
    }
    
    #hamburger {
        /* Pour que la checkbox ne s'affiche pas */
        display: none;
    }
    
    #hamburger-logo {
        /* Pour que le curseur soit un pointeur */
        cursor: pointer;
        background: black;
        width: 150px;
        display: block;
        color: white;
        /* Pour que le menu hamburger s'affiche toujours */
        text-align: right;
        /* Pour que le menu hamburger soit "rangé" par défaut */
        transform: translateX(-115px);
        padding: 10px;
    }
    
    nav {
        display: flex;
        flex-direction: column;
        background: black;
        overflow: hidden;
        width: 150px;
        /* Pour que les liens soient "rangés" par défaut */
        transform: translateX(-200px);
    }
    
    #hamburger-logo,
    nav {
        /* Pour qu'il y ait une animation */
        transition: 1.2s;
    }
    
    /* Lorsque #hamburger est coché, le #hamburger-logo et le nav qui sont dans le même parent changent de propriété */
    #hamburger:checked ~ #hamburger-logo,
    #hamburger:checked ~ nav {
        /* Changement de la position pour afficher les menus */
        transform: translate(0);
    }
    
    nav a {
        color: white;
        text-decoration: none;
        padding: 10px;
        text-align: end;
    }
    
/* -------------------------------------------- */
/* -------------------------------------------- */
/* -------------------------------------------- */


/* -------------------------------------------- */
/* -------------MAIN CONTENT------------------- */
/* -------------------------------------------- */
main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding:0 20% 0 20%;
    background-color: rgba(179, 189, 213, 0.467);
    font-family:cursive;
    background-image: url("images/background_site.jpg");
    background-size:contain
}
.ContainerH1 {
    text-align: center;
    background-color:none;
    margin: 20px;     
    opacity: 0.9;
    padding: 0 20% 0 20%;
   

    H1 {
        font-size: 68px;
        color: rgb(39, 5, 151);
    }
    section {
        font-size:20px;
        margin-top: 20px;
        padding:10% 10% 10% 10%;
        background-color: white;
        opacity: 0.8;
    }
}
.logo {
width: 50px;
height: 50px;
}

.ContainerH2 {
    margin: 20px;
    text-align: center;

    background-color: rgba(226, 207, 207, 0.778);
   h2 {
        color: rgb(81, 52, 230);
    }
    
}
.ContainerFooter{
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: center;
    .logo{
        margin-right: 30px;
        margin-bottom: 15px;
        background-color: white;
    }
}
footer{
    background-color: rgba(166, 180, 216, 0.382);

}

.mosaiqueImages{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

}

.mosaiqueImagesLine{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
    img{
         width: 200px;
         height: 200px;  
        margin: 5px;
    }
}
#Events{
    width:500px;
    height:500px;
}